.title{
  font-family: Cambria;
}
.chart{
  font-size: x-large;
}

.chart-legend{
  width: 100% !important;
  margin-left: 10px;
  margin-top: -50px;
  padding: 0 20px;
}

@keyframes spinner {
  to { transform: rotate(360deg); }
}

.loading {
  animation: spinner 0.5s linear infinite;
}
