<div class="title text-center mt-3">
  <h1>METRICS</h1>
</div>
<div class="container-fluid">
  <div class="text-center mt-5" *ngIf="!estimatedPrices">
    <fa-icon class="loading" [icon]="faSpinner" spin="spin" size="3x"></fa-icon>
  </div>
  <div class="row">

    <div class="col-12 col-md-9 text-center mb-n5">
        <ngx-charts-line-chart
          *ngIf="estimatedPrices"
          (window:resize)="onResize($event)"
          [legend]="false"
          [view]="view"
          [animations]="true"
          [results]="dataRequired"
          [scheme]="colorScheme"
          [activeEntries]="activeEntries"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [maxXAxisTickLength]="maxXAxisTickLength"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [timeline]="timeline"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
          [xAxisTickFormatting]="xAxisTickFormattingFn"
          [yAxisTickFormatting]="yAxisTickFormattingFn">
        </ngx-charts-line-chart>
    </div>

    <div class="col-12 col-md-3">
      <ngx-charts-legend class="chart-legend"
       *ngIf="estimatedPrices"
       [title]="'Legend'"
       [data]="chartNames"
       [colors]="colors"
       (labelActivate)="legendLabelActivate($event)"
       (labelDeactivate)="legendLabelDeactivate($event)">
      </ngx-charts-legend>
    </div>

  </div>
</div>



